html {
	background-color: #d1d1e0;
}

title {
	font-family: Arial;
}

#header {
	background-color: #0066cc;
	border: 2px;
	border-radius: 5px;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	font-family: Impact;
	font-size: 20pt;
	text-align: center;
}

.container {
    background-color: #00384d;
	max-width: 900px;
	max-height: 1400px;
	margin: 0 auto;
}

.container ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
}
.container ul li {
    width: 150px; 
    height: 100px;
    border-radius: 5px;
	background-color: #007fff;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	max-width: 300px;
	max-height: 250px;
	float: left;
}

#footer {
	background-color: #0066cc;
	border: 2px;
	border-radius: 5px;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	font-family: Arial;
	font-size: 10pt;
	text-align: center;
	clear: both;
}